* {
    box-sizing: border-box;
}
    body::-webkit-scrollbar {
        display: none;}

  article::-webkit-scrollbar {
    display: none;}

body {
    background-color: #E5E5E5;
    width           : 100%;
}

main {
    padding-left: 19px;
    margin-top:123px;
    margin-bottom:108px;
}

section {
    margin-top: 27px;
}

article {
    height: 100%;
    display : flex;
    width   : 100%;
    overflow-x: scroll;
    overflow-y:hidden;
}

/* seletores */

/* Cabeçalho */

#header_top {
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 92px;
    width          : 100%;
    background     : #CF2B2B;
    padding-left   : 21px;
    box-shadow     : 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    font-weight   : 400;
    font-family   : Righteous;
    font-style    : normal;
    font-size     : 44px;
    line-height   : 55px;
    letter-spacing: -0.012em;
    color         : #FFFFFF;
    margin-bottom : -6px;
}

h2 {
    font-family   : Roboto;
    font-size     : 18px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 21, 09px;
    letter-spacing: 0em;
    text-align    : left;
    color         : #FFFFFF;

}

/* fim cabeçalho */

/* Produtos Section */

#header_section {
    font-family   : Righteous;
    font-style    : normal;
    font-weight   : 400;
    font-size     : 26px;
    line-height   : 32px;
    letter-spacing: 0.018em;
    color         : #333333;
    margin-bottom : 10px;
}
.ionicon {
    position: absolute;
    fill    : #32B72F;
    height  : 15.44px;
    width   : 15.44px;
    bottom  : 15.44px;
    right   : 15.44px;
}
.some {
    display:none !important;
}
.border {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F !important;
}

.div_produto {
    box-sizing     : border-box;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 172px;
    height         : 216px;
    background     : #FFFFFF;
    box-shadow     : 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius  : 9px;
    margin-right   : 16px;
    flex-shrink    : 0;
}

.div_imagem {
    width        : 144px;
    height       : 87px;
    margin-bottom: 8px;
    box-sizing   : border-box;
}

.prato {
    background: url(jpg/frango_yin_yang\ 2.png);
}

.bebida {
    background: url(jpg/coquinha_gelada\ 1.png);
}

.sobremesa {
    background       : url(jpg/pudim\ 1.png);
    background-repeat: no-repeat;
    background-size  : auto;
}

#div_descricao {
    width: 147px;
}

.p_nome {
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : bold;
    font-size    : 16px;
    line-height  : 19px;
    margin-bottom: 4px;
    color        : #333333;
}

.p_descricao {
    height       : 38px;
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : 300;
    font-size    : 15px;
    line-height  : 18px;
    margin-bottom: 5px;
    color        : #A6A6A6;
}

.p_preco {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 19px;
    color      : #000000;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : 92px;
    background-color: #FFFFFF;
    margin-top      : 16px;
}

.fechar_pedido {
    display:flex;
    flex-direction: column;
    justify-content: center;
    Width           : 364px;
    Height          : 61px;
    background-color: #CBCBCB;
    border-radius   : 50px;
    font-family     : Roboto;
    font-style      : normal;
    font-weight     : normal;
    text-decoration: none;
    font-size       : 20px;
    line-height     : 23px;
    text-align      : center;
    letter-spacing  : 0.018em;
    color           : #FFFFFF;
    border          : none;
}
.verde {
    background-color:#32B72F !important;
}